@import "styles.css";
.changelog-section {
    font-size: 18px;
    padding: .75rem 1.25rem;
    margin: 0 auto 24px auto;
    max-width: 1100px;

    background-color: var(--bg-light);
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,.35);
}


h1 {
    color: var(--text-second);
    margin-top: 0;
    margin-bottom: .5rem;
}

h2 {
    color: var(--text-second);
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 18px;
}

@media screen and (max-device-width: 650px) {
    .changelog-section {
        margin: 0 8px;
        margin-bottom: 6vh;
    }

}


