@import "styles.css";
.changelog-section {
    flex: 1 1 auto;
    font-size: 18px;
    padding: 1rem 2rem;
    margin: 0 15vw;
    margin-bottom: 4vh;
    background-color: var(--bg-light);
    border-radius: 8px;
    box-shadow: 0px 10px 10px var(--bg-light);
}

h1 {
    color: var(--text-second);
    margin-top: 0;
    margin-bottom: .5rem;
}

h2 {
    color: var(--text-second);
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin: 0.5rem 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 18px;
}

@media screen and (max-device-width: 650px) {
    .changelog-section {
        margin: 0 8px;
        margin-bottom: 6vh;
    }

}
