 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --text-active: #fff;
    --text-active-alpha: #9c8500;
    --text-second: #FFD700;
    --dot-size: 5%;
    --bg: #191919;
    --bg-light: #1d1d1d;
}

* {
    color: var(--text-active);
    font-family: 'Montserrat';
    cursor: default;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: url("/assets/dot.svg"), linear-gradient(0deg, var(--bg), var(--bg)), var(--bg);
    background-size: auto, 100%;
    height: 200px;
    width: calc(100% - 50px); /* ✅ */
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 6vw;
    padding-right: 6vw;
    align-items: center;
    background: var(--bg);
    margin-top: auto;
}

h1 {
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg {
    background-color: var(--bg);
}

.bg-light {
    background-color: var(--bg-light);
}

.footer-element {
    margin-left: 1rem;
    transition: color 0.2s ease-in-out;
}

.footer-element:hover {
    color: var(--text-second);
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: var(--text-second);
}

.nav {
    display: flex;
    justify-content: center; /* yatayda ortala */
    width: 100%;
}

.nav-container {
    margin: 6vh 0;        /* sadece üst–alt boşluk */
    font-size: 2.5rem;    /* logo boyutu */
}

.nav-item {
    transition: letter-spacing 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}

.nav-item:hover {
    letter-spacing: 2px;
}

.nav-sub {
    font-size: 1.5rem;
    margin: 0px 8px;
    font-weight: normal;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    padding-bottom: 50vh;
    overflow: hidden;
}

.main-item {
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    animation: main-animation 0.5s ease-out;
    text-align: center;
}

.main-title {
    font-weight: 500;
    font-size: 2.7rem;
    margin: 8px;
}

.main-description {
    /* color: var(--text-active-alpha); */
}

.main-btn {
    font-size: larger;
    font-weight: 500;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: var(--text-second) solid 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.main-btn:hover {
    background-color: #31B9FC21;
    box-shadow: 0px 0px 1rem #31E9FC21;
}

.main-btn:disabled,
.main-btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
}

#glow {
    color: var(--text-second);
    transition: text-shadow 0.5s ease-in-out;
}

#glow:hover {
    text-shadow: 0px 0px 1rem var(--text-second);
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--bg-light);
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    border-radius: 1rem;
    background-color: #191919;
    height: 25vh;
}

.feature-item:hover {
    box-shadow: 0px 0px 10px #191919;
}

.feature-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-second);
}

.feature-description {
    padding: 0px 2rem 2rem 2rem;
    width: 25vw;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--bg-light);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--text-active-alpha);
    border-radius: 20px;
}

/* Meaia control (mobile optimization) */

@media screen and (max-device-width: 650px) {
    .main-container {
        min-height: 30vh;
        padding-top: 25vh;
        padding-bottom: 25vh;
    }
    .feature-container {
        flex-direction: column;
    }
    .feature-item {
        height: auto;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .feature-description {
        width: auto;
        height: auto;
    }
    .nav {
        justify-content: center;
    }
    .nav-hidable {
        display: none;
    }
}

@keyframes main-animation {
    0% {
        transform: scale(0%);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}